<script>
  const assets = [
    {
      name: "Сбербанк",
      code: "SBER",
      figis: {
        TINK: "BBG004730N88",
        FINAM: "SBER",
        ALFA: "SBER"
      }
    },
    {
      name: "Газпром",
      code: "GAZP",
      figis: {
        TINK: "BBG004730RP0",
        FINAM: "GAZP",
        ALFA: "GAZP"
      }
    },
    {
      name: "Яндекс",
      code: "YNDX",
      figis: {
        TINK: "TCS00A107T19",
        FINAM: "YDEX",
        ALFA: "YAND"
      }
    },
    {
      name: "Татнефть",
      code: "TATN",
      figis: {
        TINK: "BBG004RVFFC0",
        FINAM: "TATN",
        ALFA: "TATN"
      }
    }
  ];
</script>